h1 {
    text-align: center;
    font-size: 300%;
    font-family: 'Permanent Marker', cursive;
}

.title {
    text-align: center;
    font-size: 200%;
    padding-bottom: 25px;
    margin-top: 5px;
}

.btn-margin {
    margin-left: 40px;
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.gallery-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
.gallery-column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.gallery-column .image:hover {
    opacity: 0.3;
  }

.gallery-column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .gallery-column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .gallery-column {
        flex: 100%;
        max-width: 100%;
    }
}