<!-- TODO: This entire page needs to be styled. -->
<!-- TODO: center toast -->
<h1>PicSure Image Viewer</h1>

<div class="center">
    <label class="btn waves-teal waves-effect">
        <input type="file" class="hidden" (change)="setImage($event)">
        Choose Image
    </label>
    <button (click)="uploadImage()" class="btn btn-margin waves-effect waves-teal">Upload
        <i class="material-icons right">send</i>
    </button>
    <div id="toast-container"></div>

    <br><br>
    
    <img *ngIf="imageSrc" [ngStyle]="{border: '4px solid ' + getModifiedColor()}" [src]="imageSrc" alt="Uploaded Image">
    <p *ngIf="!hiddenIndicator isModified">
        <i class="material-icons large {{isModified ? 'red-text' : 'green-text'}}">{{isModified ? 'close' : 'check'}}</i>
    </p>

    <div class="gallery-row">
        <div class="gallery-column" *ngFor="let idx of [0, 1, 2, 3]">
            <div *ngFor="let image of imageCache; let i = index"> 
                <img src='{{image.image}}' *ngIf = "i%4 == idx">
            </div>
        </div>
    </div>
</div>

